
* { margin: 0; padding: 0; box-sizing: border-box; }



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #F1F2E1;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.1em;
  font-size: 25px;
}

h1{
    font-size: 4.236em;
}

h2{
    font-size: 2.618em;
}

h3{
    font-size: 1em;
    line-height: 1.618em;
    text-transform: uppercase;
}

p{
    font-size: 1em;
    line-height: 1.618em;
}


@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14px;
    }

}


.container {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  }

.title {
  font-size: 3em;
  letter-spacing: -0.1em;
  font-style: italic;
  cursor: pointer;
  color: #264A6D;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  text-shadow: #E9FC11 1px 1px,
  #E9FC11 2px 2px,
  #E9FC11 3px 3px,
  #E9FC11 4px 4px,
  #E9FC11 5px 5px,
  #E9FC11 6px 6px,
  #E9FC11 7px 7px,
  #E9FC11 8px 8px,
  #E9FC11 9px 9px,
  #E9FC11 10px 10px,
  #E9FC11 11px 11px,
  #E9FC11 12px 12px,
  #E9FC11 13px 13px,
  #E9FC11 14px 14px,
  #E9FC11 15px 15px,
  #E9FC11 16px 16px,
  #E9FC11 17px 17px,
  #E9FC11 18px 18px,
  #E9FC11 19px 19px,
  #E9FC11 20px 20px;
}
.click {
  color: #264A6D;
  margin-top: -1em;
  margin-left: 5em;
  letter-spacing: -0.1em;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question {
  margin: 0.5em auto;
  padding: 0 1em;
  letter-spacing: -0.05em;
  color: #3B3B3B;
  font-style: italic;
  font-size: 0.8em;
  max-width: 700px;
}
.quote {
  font-size: 1.2em;
  margin: 2.5em 2em;
  padding: 2em;
  position: relative;
  padding: 0.5em 1.5em;
  letter-spacing: 0.1em;
  color: #3B3B3B;
  font-style: italic;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
  z-index: 0;
  background-color: white;
  border: 0.1em solid #3b3b3b;
}
.quote:before { content: '"'; }
.quote:after { content: '"'; }

.image {
    position: absolute;
    top: -3em;
    right: -0.1em;
    width: 3em;
    height: 3em;
    border-radius: 50% 50% 0 0;
    background-image: url("/img/zlatan_sil");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.social-btn {
  cursor: pointer;
  margin: 0 0.5em;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  i { margin: 0 0.25em; }

  &.facebook {
    color: #3b5998;
    &:hover {
      color: lighten(#3b5998, 10);
    }
  }
  &.twitter {
    color: #55acee;
    &:hover {
      color: darken(#55acee, 10);
    }
  }
  &.github {
    margin: 0.5em;
    font-size: 2em;
    display: block;
    color: #3b3b3b;
    &:hover {
      color: #0f0f0f;
    }
  }
}

.quote-enter {
  color: white;
  transition: color .3s ease-in;
}

.quote-enter.quote-enter-active {
  color: #3b3b3b;
}

.quote-leave {
  color: #3b3b3b;
  height: 0;position: absolute;
  overflow: hidden;
  transition: color 0.1s ease-in;
}

.quote-leave.quote-leave-active {
  color: white;
}
